@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@import "./styles/colors.css";
@import "./styles/primeng.css";


@custom-variant dark (&:where(.dark, .dark *));


body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}


html, body {
  height: 100%;
  width: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-primary-100);

  .dark & {
    background: var(--color-dark-primary-800);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
